 <!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Anh Le
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/">Blog</a>
        </li>
        <li>
            <a href="/statbook">My Stat Book</a>
        </li>
        {% for page in site.pages %}
        <li>
            {% if page.title %}<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<!-- /#sidebar-wrapper -->